# /etc/systemd/system/celery.service
[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/safeisol/
Environment="PATH=/var/www/safeisol/venv/bin"
ExecStart=/var/www/safeisol/venv/bin/celery -A safeisol worker --loglevel=info

[Install]
WantedBy=multi-user.target
