version: "3.9"

services:

  nginx:
    image: nginx:1.26
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/safeisol.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - web

  web:
    build: .
    restart: always
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - ./logs:/var/log/django
    command: gunicorn safeisol.wsgi:application --bind 0.0.0.0:8000
    depends_on:
      - redis

  celery:
    build: .
    restart: always
    env_file:
      - .env
    command: celery -A safeisol worker -l info
    depends_on:
      - redis

  redis:
    image: redis:7
    restart: always
    expose:
      - "6379"

volumes:
  static_volume:
