{% load static %}
{% load main_tags %}

<html>

    <head>
        <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/header.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/breadcrumbs.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/about.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/adaptive.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'main/media/logo-ico.png' %}" type="image/x-icon">
        <title>Сертификаты</title>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(102102304, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/102102304" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </head>

    {% header cat_selected='about' %}
    {% include 'main/breadcrumbs.html' %}
    <body>
        <div class="content">
            <div class="container">
                <p class="section-title">{{ subtitle }}</p>
            </div>
            <div class="container">
                <div class="main">
                    <div class="about-side-bar">
                        <div class="sidebar-item" data-content="about">
                            <a href="{% url 'about' %}">О компании</a>
                            <span class="icon">></span>
                        </div>
                        <div class="sidebar-item selected" data-content="certificates">
                            <a href="{% url 'certificates' %}" onclick="return false">Сертификаты</a>
                            <span class="icon">></span>
                        </div>
                    </div>

                    <div class="about-content" id="certificates">
                        <div class="certificates-content">
                            {% for item in certificates %}
                            <img src="{% static 'main/media/certificates/' %}{{item}}" onclick="openModal(this)"/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно -->
        <div id="modal" class="modal" onclick="closeModal(event)">
            <div class="modal-content" onclick="closeModal(event)">
                <img class="modal-image zoomable" id="modalImage" />
            </div>
        </div>  
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'main/js/base.js' %}"></script>
        <script src="{% static 'main/js/header.js' %}"></script>
        <script src="{% static 'main/js/certificates.js' %}"></script>
    </body>
</html>
{% footer %}
