{% load static %}
{% load main_tags %}

<html>

    <head>
        <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/breadcrumbs.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/header.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/tile_goods.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/complete_projects.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/adaptive.css' %}" rel="stylesheet">

    </head>

    <body>

        {% header cat_selected='complete_projects' %}
        
        {% include 'main/breadcrumbs.html' %}

        <div class="content">
            
            <div class="container">
                <div class="section-title">Выполненные проекты</div>
            </div>

            <div class="container tile_goods" style="justify-content: left; margin-bottom: 100px;">
                {% for i in products %}
                <div class="product">
                    <div class="product-img-block">
                        <img class="product-img" src="{% static 'main/media/complete projects/'%}{{forloop.counter}}.png" onclick="openModal(this)">
                    </div>
                </div>
                {% endfor %}
            </div>                

        </div>

        <!-- Модальное окно -->
        <div id="modal" class="modal" onclick="closeModal(event)">
            <div class="modal-content" onclick="closeModal(event)">
              <img class="modal-image zoomable" id="modalImage" />
            </div>
        </div>

        {% footer %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'main/js/base.js' %}"></script>
        <script src="{% static 'main/js/header.js' %}"></script>
        <script src="{% static 'main/js/complete_projects.js' %}"></script>

    </body>


</html>