{% load static %}
{% load main_tags %}

<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ service.name }}</title>
        <meta name="description" content="{{ service.name }}">
        <meta name="keywords" content="теплоизоляция, услуги, теплоизоляционные работы">
        <meta name="author" content="ООО Безопасная Теплоизоляция">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="{{ service.name }}">
        <meta property="og:description" content="{{ service.meta_description|default:service.name }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="{% static 'main/media/logo-ico.png' %}">

        <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/service.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/breadcrumbs.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'main/media/logo-ico.png' %}" type="image/x-icon">
        <link type="text/css" href="{% static 'main/css/header.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/modal_form.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/adaptive.css' %}" rel="stylesheet">

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(102102304, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/102102304" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </head>

    <body>

        {% header cat_selected='services' %}

        {% include 'main/breadcrumbs.html' %}

        <div class="content">
        <div class="container">
            <p class="section-title">{{service.name}}</p>
        </div>
            <div class="container"> 
                
                <div class="service-description">
                    {% for item in service.content %}
                    {% if item.type == "paragraph" %}
                    <p class="paragraph">{{ item.value }}</p>
                    {% else %}
                    <div class="list">
                        <p class="paragraph">{{ item.value.title }}</p>
                        <ul>
                            {% for li in item.value.values %}
                            <li>{{ li }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="form-button openModalForm"><p>Оставить заявку</p></div>
                </div>

            </div>
        </div>   
        

        {% footer %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'main/js/base.js' %}"></script>
        <script src="{% static 'main/js/modal_form.js' %}"></script>
        <script src="{% static 'main/js/header.js' %}"></script>

        {% include 'main/modal_form.html' %}
    </body>


</html>