



.breadcrumbs {
    padding: 20px 0; /* Отступы сверху и снизу */
}

.breadcrumbs-list {
    list-style: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает внутренние отступы */
    margin: 0; /* Убирает внешние отступы */
    display: flex; /* Использует flexbox для расположения элементов в строку */
    align-items: center; /* Центрирует элементы по вертикали */
    text-align: start;
}

.breadcrumbs-item a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: #007bff; /* Цвет текста ссылок */
}

.breadcrumbs-item a {
    text-decoration: none; /* Подчеркивание при наведении */
    font-size: 12px;
    font-weight: 600;
}

/* Добавляем дефис между элементами, кроме последнего */
.breadcrumbs-item:not(:last-child)::after {
    content: '-'; /* Дефис между элементами */
    margin-left: 10px; /* Отступ слева от дефиса */
    margin-right: 10px; /* Отступ справа от дефиса */
    color: #333; /* Цвет дефиса */
}