{% load static %}
{% load main_tags %}

<html>

    <head>
        <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/header.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/footer.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'main/css/adaptive.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'main/media/logo-ico.png' %}" type="image/x-icon">
        <title>Страница не найдена</title>
        <!-- SEO Meta Tags -->
        <meta name="robots" content="noindex, follow">
        <meta name="description" content="Извините, страница не найдена. Возможно, она была удалена или перемещена.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Страница не найдена | SafeIsol">
        <meta property="og:description" content="Ошибка 404. Такой страницы на сайте SafeIsol не существует.">
        <meta property="og:image" content="https://safeisol.ru/static/main/media/logo-ico.png">
        <meta property="og:url" content="https://safeisol.ru/404">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="SafeIsol">
    </head>

    <body>

        {% header %}

        <div class="content">
            <div class="container">
                <div class="404_mess" style="height: 100%; margin-top: 50px; justify-content: start; align-items: start; font-size: 25px; font-weight: bold;">Страница не найдена</div>
            </div>
        </div>

        {% footer %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'main/js/base.js' %}"></script>

    </body>


</html>