



.breadcrumbs {
    padding: 20px 0; 
}

.breadcrumbs-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    align-items: center; 
    text-align: start;
}

.breadcrumbs-item a {
    text-decoration: none; 
    color: #007bff;
}

.breadcrumbs-item a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

/* Добавляем дефис между элементами, кроме последнего */
.breadcrumbs-item:not(:last-child)::after {
    content: '-'; 
    margin-left: 10px; 
    margin-right: 10px; 
    color: #333; 
}