
.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0;
}

.products-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center; 
    color: #333; 
    border-bottom: 1px dashed;
    padding-bottom: 3px;
}

.product-cards {
    position: relative; 
    overflow: hidden;
    width: 100%;
}

.product-cards-inner {
    display: flex; 
    transition: transform 0.5s ease; 
    width: 100%; 
    justify-content: flex-start; 
}

.product {
    min-width: 20%; 
    max-width: 20%;
    box-sizing: border-box; 
    padding: 10px;
    justify-content: center;
    border: 1px solid var(--light_gray);
    transition: border 0.4s ease;
}

.product:hover {
    border: 1px solid var(--orange); 
}

.product-img-block {
    height: 170px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    height: 100%; 
    max-width: 100%;
    object-fit: cover;
}

.product-name-block {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    text-align: center; 
    font-weight: 600;
    font-size: 14px;
    color: var(--dark_gray);
}

.carousel-button {
    display: none;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); 
    border: none; 
    cursor: pointer; 
    padding: 10px; 
    z-index: 1;
    background-color: var(--light_gray);
}

.carousel-button.left {
    left: 10px; 
}

.carousel-button.right {
    right: 10px; 
}

.about-title {
    font-size: 24px;
    border-bottom: 1px solid gray;
    font-weight: bold; 
    margin-bottom: 15px; 
    color: var(--dark_gray); 
    text-align: center; 
}

.about-block {
    padding-top: 60px;
    border-top: 2px solid var(--light_gray);
    margin: 50px 0;
}

.about-text {
    text-indent: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    color: var(--dark_gray); 
    text-align: justify; 
    margin: 0; 
}

.about-text {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}