
.sscls-1 {
    fill: var(--orange);fill-rule: evenodd;
}

#top-line {
    display: none;
}

.mob-top {
    display: none;
}

.mob-panel {
    display: none;
}

#mob-search {
    display: none;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.header-logo {
    background-image: url(/static/main/media/header.png);
    background-size: cover;
    width: 100%;
    height: 130px;
    background-color: white;
    z-index: 2;
}

.header-background {
    background-image: url(/static/main/media/header-background.png);
    position: absolute;
    background-size: 100% 130px;
    width: 100%;
    height: 130px;
}

.header-ul {
    display: grid;
    grid-auto-flow: column; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: var(--light_gray);
    padding: 10px 0 0 0;
    z-index: 1000;
}

.navbar.fixed {
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.header-li {
    margin: 5px;
    text-align: center;
}

.navbar-a {
    text-decoration: none;
    color: rgb(14, 14, 14);
    overflow: hidden;
    margin: 5px;
    transition: color 0.5s ease;

    display: inline-block; 
}

.navbar-a::after {
    content: ''; 
    display: block; 
    width: 0; 
    height: 1px; 
    background-color: var(--orange); 
    transition: width 0.3s ease; 
    margin: 5px auto 0; 
}

.navbar-a:hover::after {
    width: 100%; 
}

.navbar-a-selected {
    text-decoration: none;
    color: var(--orange);
    overflow: hidden;
    margin: 5px;
    transition: color 0.5s ease;
    pointer-events: none;
    display: inline-block;
}

.header-info {
    display: flex;
}

.header-search__btn {
    margin: 55 0 45 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.mail-svg-path {
    fill: rgb(56, 56, 56);
    transition: 0.5s ease;
}

.mail-svg {
    width: 25px;
    height: 25px;
}

.header-mail-link {
    color: rgb(56, 56, 56);
    font-family: var(--font_family);
    font-size: 20px;
    text-decoration: none;
}

.header-mail-contact {

    align-items: end;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    margin: 55 auto 45 auto;
}

.header-mail-contact:hover .mail-svg-path {
    fill: var(--orange);
}

.phone-svg-path {

    fill: rgb(56, 56, 56);
    transition: fill 0.2s ease;
}

.header-phone-contact {

    align-items: end;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    margin: 55 0 45 480;
}

.header-phone-link {
    
    color: rgb(56, 56, 56);
    font-family: var(--font_family);
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s ease;
}

.header-phone-contact:hover .phone-svg-path {
    color: var(--orange);
    fill: var(--orange);
}

.search-popup {
    min-height: 92px;
    display: none;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background: rgb(255, 255, 255);
    z-index: 2000;
    overflow-y: auto; 
    padding: 20px; 
    outline: none;
}
.searchinput {
    border: none;
    width: calc(100% - 40px); 
    padding: 10px; 
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 0;
    background: transparent;
}

.searchinput:active, :hover, :focus {
    outline: 0;
    outline-offset: 0; 
}

.search-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.search-popup li {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.search-popup li:hover {
    opacity: 0.7;
}
.close-popup-button {
    position: relative; 
    right: 20px; 
    font-size: 24px; 
    color: #333;
    cursor: pointer; 
    margin-bottom: 20px; 
}

.flag { 
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.flag img {
    width: 35px;
    height: 35px;
}

#mobile-menu-button {
    display: none;
}

.mobile-sidebar {
    display: none;
}