.main-title {
    color: var(--light_gray);
    font-size: 80px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
}

.main-slide {
    height: 100vh;
    width: 100%;
    background-image: url('/static/main/media/zavod.png');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    background-color: #494949;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    overflow: hidden;
    max-height: 150px;
}

.about-title {
    font-size: 24px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--dark_gray);
    text-align: center;
    padding: 10px;
}

.about-block {
    padding-top: 60px;
    border-top: 2px solid var(--light_gray);
    margin: 50px 0;
    box-sizing: border-box;
}

.about-text {
    text-indent: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark_gray);
    text-align: justify;
    margin: 0;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}
